<div id="boxgallery" class="boxgallery">
    <div class="panel">
        <div class="bg-tile" >
            <div class="bg-img" style="background-color:#030c22" ng-click="showFullPage('#030c22'); fb_integration = true;">
                <div class="label-panel">
                    <i class="fa fa-facebook-square"></i>
                </div>
            </div>
        </div>
        <div class="bg-tile">
            <div class="bg-img" style="background-color:#20293f" ng-click="showFullPage('#20293f')"></div>
        </div>
        <div class="bg-tile">
            <div class="bg-img" style="background-color:#404749" ng-click="showFullPage('#404749')"></div>
        </div>
        <div class="bg-tile">
            <div class="bg-img" style="background-color:#a9b0b3" ng-click="showFullPage('#a9b0b3')"></div>
        </div>
    </div>
</div>

<div class="fullpage" fullpage ng-show="isVisible" ng-style="fullpagestyle"></div>
