/* --------------------------
  # FOUR SQUARE PANELS
----------------------------*/
.boxgallery .bg-tile {
  cursor: pointer;
}
.boxgallery .bg-tile:hover {
  opacity: 0.8;
}

.boxgallery .panel .label-panel {
  width: 50%;
  height: 50%;
  color: #fff;
  margin: 0 auto;
  top: 50%;
  position: relative;
  text-align: center;
}
  .boxgallery .panel .label-panel i {
    font-size: 3em
  }




/* --------------------------
  # FULL PAGE
----------------------------*/
.fullpage{
  width: 100%;
  height: 100%;
  position: fixed;
}

.fullpage .full-page-content {
  color: #fff;
  width: 970px;
  margin: 0 auto;
  top: 40%;
  position: relative;
}
  .fullpage .full-page-content .col{
    width: 50%;
    float: left;
  }
  .fullpage .full-page-content .col-left{
    text-align: right;
  }




  /* --------------------------
  # MORPH CONTENT CUSTOM
----------------------------*/
.morph-content span.sub-edit {
  cursor: pointer;
}





